.blue-text {
  color: #469ddc;
}

.gray-background {
  background-color: #c7c7c7;
}

.gray-text {
  color: gray;
}

.has-search .form-control {
  padding-right: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 25.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: black;
}

.etoile::after {
  content: "*";
  color: red;
}

.smallpolice {
  font-size: 13px;
}

.prix {
  text-align: right;
  font-size: 24px;
}
.smallprix {
  text-align: right;
  font-size: 13px;
  
}

.page {
  position: relative;
  height: 30px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.image_principale {
  height: 206px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.image_panier {
  height: 90px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}
.banner {
  height: 208px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.gras {
  font-weight: bold;
}

li {
  list-style-type: none;
}

.promotion{
  position : absolute;
  top : 4px;
  left: 115px;

}

.sous_cat{
  margin: 10px;
}

.lien{
  color:black;
}

.path{
  font-size: 10px;
}

@media screen and (max-width: 767px) {
  .promotion{
    position : absolute;
    top : 6px;
    left: 277px;
  }
}